<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Travel App</title>
        <meta description="Udacity Frontend Nanodegree course Capstone Project: Travel App">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Cousine&family=Lora&family=Roboto&display=swap" rel="stylesheet">        <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="page-header">
            <h1>Travel Planner</h1>
        </header>
        <main class="content">
            <section class="form-section">
                <div class="trip-plan">Plan Your Trip</div>
                <section class="photo-section" id="trip-photo">
                    <div id="nice-trip">Have a nice trip!</div>
                </section>
                <form id="form">
                    <label for="destination" class="destination">Destination</label>
                    <input id="destination" type="text" placeholder="Enter your destination" />
                    <label for="departure" class="departure">Departure</label>
                    <input id="departure" type="text" placeholder="" onfocus="(this.type='date')" onblur="(this.type='text')" />
                    <input id="generate" type="submit" value="Go ahead" />
                </form>
            </section>
            <section class="content-section" id="trip-plan">
                <div class="trip-plan">Your Trip Plan</div>
            </section>
        </main>
        <footer class="page-footer">
            <p>Supported by <a href="https://www.udacity.com" target="_blank" rel="noopener">Udacity</a> :)</p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>