<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Travel App</title>
        <meta description="Udacity Frontend Nanodegree course Capstone Project: Travel App">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Cousine&family=Lora&family=Roboto&display=swap" rel="stylesheet">        <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="page-header">
            <h1>Travel Planner</h1>
        </header>
        <main class="content">
            <section class="photo-section"></section>
            <section class="content-section">
                <section class="description">
                    <div class="trip">My Travel to Paris, France</div>
                    <div class="departing">Departing: 02/12/2020</div>
                </section>
                <section class="button-area">
                    <button class="save">save trip</button>
                    <button class="remove">remove trip</button>
                </section>
                <section class="response-area">
                    <div class="forward">Paris, France is <span id="forward">220</span> days away</div>
                    <div class="weather">Typical weather for them is:</div>
                    <div id="temperature"><span>High - 46, Low - 35</span></div>
                    <div id="weather"><span>Moisty cloudy throughout the day</span></div>
                </section>
            </section>
        </main>
        <footer class="page-footer">
            <p>Supported by <a href="https://www.udacity.com" target="_blank" rel="noopener">Udacity</a> :)</p>
        </footer>
    </body>
</html>