<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Travel App</title>
        <meta description="Udacity Frontend Nanodegree course Capstone Project: Travel App">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Cousine&family=Lora&family=Roboto&display=swap" rel="stylesheet">        <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="page-header">
            <h1>Travel Planner</h1>
        </header>
        <main class="content">
            <section class="form-section">
                <div class="trip-plan">Plan Your Trip</div>
                <section class="photo-section" id="trip-photo">
                    <div id="nice-trip">Have a nice trip!</div>
                </section>
                <form id="form">
                    <label for="destination" class="destination">Destination</label>
                    <input id="destination" type="text" placeholder="Enter your destination" />
                    <label for="departure" class="departure">Departure</label>
                    <input id="departure" type="text" placeholder="" onfocus="(this.type='date')" onblur="(this.type='text')" />
                    <input id="generate" type="submit" value="Go ahead" />
                </form>
            </section>
            <section class="content-section" id="trip-plan">
                <div class="trip-plan">Your Trip Plan</div>
                <!-- <section class="trip">
                    <section class="photo-section" style="background: url('https://pixabay.com/get/gd67bf77938f24f0a0d35e91f8b2360c52dbd691156fbc315f7924a0ef388a18e96525993bca0568809e053ecca67f7872debb63f6d0ebb0fdb504a60fcb6193d_640.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;"></section>
                    <section class="trip-section">
                        <section class="description">
                            <div class="trip-title">My Travel to Paris, France</div>
                            <div class="departing">Departing: 02/12/2020</div>
                        </section>
                        <section class="button-area">
                            <button class="save">save trip</button>
                            <button class="remove">remove trip</button>
                        </section>
                        <section class="response-area">
                            <div class="forward">Paris, France is <span id="forward">220</span> days away</div>
                            <div class="weather">Typical weather for them is:</div>
                            <div id="temperature"><span>High - 46, Low - 35</span></div>
                            <div id="weather"><span>Moisty cloudy throughout the day</span></div>
                            <div class="weather">Weather forecast:</div>
                            <section class='forecast'>
                                <div class="valid-date">25/11/2020</div>
                                <div class="temperature"><span>High - 46&#8451;, Low - 35&#8451;</span></div>
                                <div class="weather">Thunderstorm with heavy rain</div>
                            </section>
                            <section class='forecast'>
                                <div class="valid-date">26/11/2020</div>
                                <div class="temperature"><span>High - 46&#8451;, Low - 35&#8451;</span></div>
                                <div class="weather">Thunderstorm with heavy rain</div>
                            </section>
                            <section class='forecast'>
                                <div class="valid-date">27/11/2020</div>
                                <div class="temperature"><span>High - 46&#8451;, Low - 35&#8451;</span></div>
                                <div class="weather">Thunderstorm with heavy rain</div>
                            </section>
                            <section class='forecast'>
                                <div class="valid-date">28/11/2020</div>
                                <div class="temperature"><span>High - 46&#8451;, Low - 35&#8451;</span></div>
                                <div class="weather">Thunderstorm with heavy rain</div>
                            </section>
                            <section class='forecast'>
                                <div class="valid-date">29/11/2020</div>
                                <div class="temperature"><span>High - 46&#8451;, Low - 35&#8451;</span></div>
                                <div class="weather">Thunderstorm with heavy rain</div>
                            </section>
                            <section class='forecast'>
                                <div class="valid-date">30/11/2020</div>
                                <div class="temperature"><span>High - 46&#8451;, Low - 35&#8451;</span></div>
                                <div class="weather">Thunderstorm with heavy rain</div>
                            </section>
                            <section class='forecast'>
                                <div class="valid-date">01/12/2020</div>
                                <div class="temperature"><span>High - 46&#8451;, Low - 35&#8451;</span></div>
                                <div class="weather">Thunderstorm with heavy rain</div>
                            </section>
                        </section>
                    </section>
                </section> -->
            </section>
        </main>
        <footer class="page-footer">
            <p>Supported by <a href="https://www.udacity.com" target="_blank" rel="noopener">Udacity</a> :)</p>
        </footer>
    </body>
</html>